:root {
  --gray: #5a5a5a;
  --gold: #c9a13a;
  --light-gold: #c9a03a85;
  --white: #ffffff;
  --light-gray: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

body {
  overflow-x: hidden;
}

section.banner {
  height: 200px;
  background-image: url(project-about-images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

section.banner h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 70px;
}

section.banner .overlay {
  padding: 0 5%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: var(--light-gray);
}

section:not(.banner) {
  margin: 0 5% 100px 5%;
}



h2 {
  font-size: 3rem;
  color: var(--gray);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

/*History Section*/
section.our-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

section.our-history div {
  width: 49%;
  border-radius: 30px;
  height: 450px;
}

.throwback-image {
  box-shadow: 0 5px 5px var(--light-gray);
}

.throwback-image img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.brief-history {
  padding: 0 2em 2em 2em;
  box-shadow: 0 5px 5px var(--light-gray);
  overflow-y: auto;
}

.brief-history h2 {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 0.5em;
  margin-bottom: 40px;
  background-color: var(--white);
}

/*Mission and Vision Section*/
section.mission-vision {
  display: flex;
  gap: 20px;
}

section.mission-vision div {
  width: 49%;
  min-height: 480px;
  border-radius: 30px;
  padding: 1em 2em;
  box-shadow: 0 5px 5px var(--light-gray);
  transition: background-color 0.4s ease-out;
}

section.mission-vision div:hover {
  background-color: var(--light-gold);
}

/*Leadership Section*/
section.leadership {
  padding: 2em 0;
  border-radius: 30px;
  box-shadow: 0 0 5px var(--light-gray);
}

div.leaders-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1em;
  width: 100%;
}

.leaders {
  flex: 1 1 300px; /* Grow, shrink, and base width */
  max-width: 380px; /* Max width for each card */
  min-width: 280px; /* Min width for smaller screens */
  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.2s ease-out;
  position: relative;
}

.leaders div {
  height: 350px;
  border-radius: 30px;
}

.leaders img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.leaders p {
  font-family: "Cinzel", serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.25em;
  border-radius: 0 0 30px 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.leaders:hover {
  transform: scale(1.05);
}

.leaders:hover p {
  background-color: var(--light-gold);
  opacity: 1;
}

/*Milestone Section*/
div.milestone-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 350px;
  overflow: hidden;
}

div.milestone-container .milestone-group {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  width: fit-content;
  padding: 1em 0.75em;
  position: absolute;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.8s ease;
  cursor: pointer;
}

div.milestone-container .milestone-group > div {
  flex-shrink: 0;
  width: 420px;
  height: 330px;
  border-radius: 30px;
  box-shadow: 0 5px 5px var(--light-gray);
}

div.milestone-container .milestone-group > div > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

div.milestone-container .milestone-group.visible {
  opacity: 1;
  transform: translateX(0);
}

div.milestone-container .milestone-group.exit {
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 0.8s ease;
}

div.milestone-container .milestone-group.hidden {
  opacity: 0;
  transform: translateX(100vw);
  transition: none;
}

.milestone-indicators {
  text-align: center;
  margin-top: 20px;
}

.milestone-indicators span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--light-gray);
  margin: 0 5px;
}

.milestone-indicators span.active {
  background-color: var(--gold);
}

/* Responsiveness for different screen sizes*/

@media (max-width: 1110px) {
  section.banner {
    height: 200px;
  }

  section.banner .overlay {
    height: 200px;
  }

  section.banner h1 {
    font-size: 3.5rem;
  }

  section.our-history {
    flex-direction: column-reverse;
    gap: 30px;
  }

  section.our-history div {
    width: 100%;
  }

  section.our-history .brief-history {
    height: 500px;
  }

  section.our-history .throwback-image {
    height: 420px;
  }

  div.leaders-container {
    gap: 30px;
  }

  div.milestone-container .milestone-group > div {
    flex-shrink: 0;
    width: 49%;
    height: 330px;
    border-radius: 30px;
    overflow: hidden;
  }
}

@media (max-width: 1100px) {
  section.mission-vision {
    flex-direction: column;
    gap: 30px;
  }

  section.mission-vision div {
    width: 100%;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }

  section.our-history .throwback-image {
    height: 360px;
  }

  div.leaders-container {
    gap: 30px;
  }

  .leaders {
    flex: 1 1 100%; /* Stack cards on small screens */
    max-width: 500px; /* Allow cards to take more width */
  }

  .leaders div {
    height: 320px;
  }

  div.milestone-container .milestone-group > div {
    flex-shrink: 0;
    width: 100%;
    height: 330px;
    border-radius: 30px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .leaders {
    min-width: 100%; /* Full width for very small screens */
  }
}
