:root {
  --gray: #5a5a5a;
  --gold: #c9a13a;
  --white: #ffffff;
  --light-gray: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

.contact-section {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url('images/excavator.jpg');
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.contact-section h1 {
  margin-right: 65%;
  padding: auto;
  font-size: 70px;
  color:rgba(255, 255, 255, 0.7)
}
.contact-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Main Projects*/
section.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 5%;
}

section.projects article {
  width: 49%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
}

section.projects article .project-image {
  position: relative;
  height: 300px;
}

section.projects article .project-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: var(--white);
  font-size: 2.25rem;
  font-weight: 600;
}

section.projects article .project-image img {
  width: 100%;
  height: 100%;
}

section.projects article .project-description ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.projects article .project-description ul li {
  list-style-type: disc;
  list-style-position: inside;
}

/* Responsiveness for different screen sizes*/
@media (max-width: 1120px) {
  section.banner {
    height: 200px;
  }

  section.banner .overlay {
    height: 200px;
  }

  section.banner h1 {
    font-size: 3.5rem;
  }

  section.projects {
    flex-direction: column;
    gap: 30px;
  }

  section.projects article {
    width: 100%;
  }

  section.projects article .project-image {
    height: 250px;
  }

  section.projects article .project-image h2 {
    font-size: 2rem;
  }
}
